.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .example-boundary {
    width: 800px;
    height: 800px;
    max-width: 100%;
    background: #fff;
    margin-left: 10%;
    margin-top: 10px;
    /*border: dotted #ccc 2px;*/
    position: relative;
  }

.canvas-list {
    width: 100px;
    height: 100px;
    /* display: block; */
    /* overflow: hidden; */
}

.grid {
    background-image:
      repeating-linear-gradient(0deg,rgb(226, 226, 226) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg,rgb(226, 226, 226) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(180deg,rgb(226, 226, 226) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(270deg, rgb(226, 226, 226) 0 1px, transparent 1px 100%);
    background-size: 20px 20px;
    
}
