<!-- <div cdkDropList class="canvas-list" (cdkDropListDropped)="drop($event)">
    <app-element-host *ngFor="let com of components" [comData]="com"></app-element-host>
    <div class="canvas-placeholder" *cdkDragPlaceholder></div>
</div> -->

<div class="example-boundary grid">
        <app-element-host [comData]="com" *ngFor="let com of components"></app-element-host>
</div>