<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="side"
      [opened]="(isHandset$ | async) === true"> 
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="add('text')">Text Element</a>
      <a mat-list-item href="#" (click)="add('label')">Label Element</a>
      <a mat-list-item href="#" (click)="add('text-area')">Text-Area Element</a>
      <a mat-list-item href="#" (click)="add('paragraph')">Paragraph Element</a>
      <a mat-list-item href="#" (click)="add('select')">Select Element</a>
      <a mat-list-item href="#" (click)="add('color')">Color Element</a>
      <a mat-list-item href="#" (click)="add('date')">Date Element</a>
      <a mat-list-item href="#" (click)="add('button')">Button Element</a>
      <a mat-list-item href="#" (click)="add('checkbox')">Checkbox Element</a>
      <a mat-list-item href="#" (click)="add('radio')">Radio Button Element</a>
      <a mat-list-item href="#" (click)="add('mat-icon')">Icon Element</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #editor class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="side"
    [opened]="(isHandset$ | async) === true"
    position="end">
  <mat-toolbar>Editor</mat-toolbar>
  <app-editor-view></app-editor-view>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Form Builder</span>
    <span class="spacer"></span>
    
    <span (click)="editor.toggle()">Editor
      <button
      type="button"
      aria-label="Toggle editor"
      mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">edit</mat-icon>
     </button>
    </span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>save</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="fileUploader.click()">
        <mat-icon>upload</mat-icon>
        <span>Import</span>
      </button>
      <button mat-menu-item (click)="export()">
        <mat-icon>download</mat-icon>
        <span>Export</span>
      </button>
    </mat-menu>
    <input type="file" hidden="true" class="file-input" (change)="import($event)" #fileUploader>

    
    </mat-toolbar>

    <!-- Add Content Here -->

    <ng-content class="content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
