<div class="property-grid-table" *ngIf ="entryData">
    <ngx-property-grid  [width]="'300px'" [options]="entryData"></ngx-property-grid>
    <div style="display: grid;">
        <!-- Updates the information whenever the user defines the new data -->
        <button mat-raised-button color="primary" (click)="updateElement()">Update</button>
    </div>
</div>
