@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body{
  height: 100%;
}

body {
    margin: 0;
}

/* Style for Canvas List */
.canvas-list {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

/* Style for Canvas Placeholder */
.canvas-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Style for Canvas Element Box */
.canvas-box {
  padding: 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: white;
  font-size: 14px;
}

/* Style for the Drag and Drop Placeholder */
.cdk-drag-placeholder {
  opacity: 0;
}


/* Style for Drag Preview Box */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Style for Drag Animation */
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Style for Last Child Canvas Box */
.canvas-box:last-child {
  border: none;
}

/* Style for Canvas Box Dragging */
.canvas-list.cdk-drop-list-dragging .canvas-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
