
/* .canvas-box-button {
    width: 25px !important;
    height: 25px !important;
} */

.canvas-box-button-tray {
    margin-left: auto; 
    margin-right: 0;
}
.mat-icon {
    font-size: 20px;
    color: rgb(168, 168, 168);
}

.canvas-box .canvas-box-button {
    visibility: hidden;
}
.canvas-box:hover .canvas-box-button {
    visibility: visible;
}

.example-box {
    width: fit-content;
    height: fit-content;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    padding: 5px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }