<div #self class="example-box canvas-box" (click)="edit()" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="dragPosition" (cdkDragEnded)="onDragEnded($event)">
    <div class="canvas-box-button-tray">
        <ng-template #container></ng-template>
        <!-- <button class="canvas-box-button" mat-icon-button (click)="delete()"><mat-icon>close</mat-icon></button> -->
    </div>
</div>